
<!-- headder -->
<%- include('indexHeadder') %> 

<% if(locals.error){ %>
    <%= error %>
    <% } %>   

<% arts.forEach(art=>{ %>
    <div id="galSep">

        
        <img src="<%= art.image  %> " alt="image" width="300"  >
        
       <%= art.name  %>
        <%= art.price %>
        <%=art.description%>
        
       
        
        <br>
        <br>
        <br>
    
    </div>
<% }) %>  

<!-- footer -->
<%- include('indexFooter') %> 
