    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/gallery.css">

        <link rel="stylesheet" href="/animate/aos.css">
        <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
        <title>Liyane ARTs</title>
    </head>
    <body>
           <!-- ********************************************* Menu ********************************************* -->
    <div class="container1" id="container1">
        <div id="burger">
            <div id="line1"></div>
            <div id="line1"></div>
            <div id="line1"></div>
            </div>
    
        <div class="menuLeft">
            <div class="logo">
                <img src="../public/images/logoW.png" id="logoIcon">
            </div>
    
            
    
            <div class="menu">
                <div id="menubox">
                  
                    <% if(locals.index){ %>
    
                        <div id="AboutUs">
                            <h1><a href="#AbtTitle">About Us</a></h1>
                        </div>
                        <div id="Categories">
                            <h1><a href="#CatTitle">Categories</a></h1>
                        </div>
                        <div id="Gallery">              
                            <h1><a href="#GalleryCont">Gallery</a></h1>
                        </div>                
                        
                    <% }
                    else{%>
                        <div id="HomePage">
                        <h1><a href="/">Homepage</a></h1>
                    </div>
                    <% } %> 
                        
                    
                    <div id="ContactUs">
                        <h1><a href="#footLeft">Contact Us</a></h1>
                    </div>
                </div>
            </div>
    
        </div>
        <div class="menuRight"> </div>
    </div>
    
    <a id="HomeBtn" href="#container1" ><img  id="homeIcon" src="../public/images/HomeBtn1.png"/></a>


<link rel="stylesheet" href="../public/gallery.css">

<div id="galContent">
    
    <% if(locals.error){ %>
        <%= error %>
        <% } %>   

    <% arts.forEach(art=>{ %>
        <div id="galSep">

            <div id="galImg">
                <img src="<%= art.image  %> " alt="image" width="300"  >
            </div>
            
            <div id="galImgDis">
                <div id="galImgName">
                    <%= art.name  %>
                </div>
                   
                <div id="galImgPrice">
                    Rs.<%= art.price %>
                </div>

                <div id="galImgDescript">
                    <%=art.description%>
                </div>
            </div>
            <br>
            <br>
            <br>
        
        </div>
    <% }) %> 

</div>


<div class="container5">
    <div id="footLeft">
        <h2> Lorem ipsum</h2>
       <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Modi sint cum saepe doloremque? Ad nesciunt eaque aut a sequi 
        laboriosam dolores, eveniet ab cupiditate vel, beatae assumenda voluptas! Eligendi, exercitationem.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Modi sint cum saepe doloremque? Ad nesciunt eaque aut a sequi 
        laboriosam dolores, eveniet ab cupiditate vel, beatae assumenda voluptas! Eligendi, exercitationem.
    </p>
    </div>
    <div id="footRight">
        
            <div class="footer-details-contact">
            
            <div id="cont">
                <h2 >contacts</h2>
            </div>

           
                <div id="fb">
                    <a  href="https://www.facebook.com/malingaherathphotography">
                        <img src="../public/Images/facebook.png" alt="facebook-logo" class="fimg">
                        <h4 class="flink">www.facebook.com/malingaherathphotography</h4>
                    </a>
                </div>
                <div id="insta">
                    <a  href="https://www.instagram.com/__malinga__/">
                        <img src="../public/Images/instagram.png" alt="Instagam-logo" class="fimg">
                        <h4 class="flink">www.instagram.com/__malinga__</h4>
                    </a>
                </div>
                <div id="gmail">
                    <a  href="mailto:malingashenal@gmail.com">
                        <img src="../public/Images/gmail.png" alt="email-logo" class="fimg">
                        <h4 class="flink">mailto:malingashenal@gmail.com</h4>
                    </a>
                </div>
                <div  id="phone">
                   <a><img src="../public/Images/phone.png" alt="phone-logo" class="fimg">
                    <h4 class="flink">+94 76 865 2634</h4></a> 
                </div>
            </div>

            
            

            </div>  
                
                <div id="footerLogo"></div>
                
                
        </div>
        
        
    
    









<script>
    // AOS.init();

        const navSlide = () =>{
        const burger = document.querySelector('#burger');
        const nav = document.querySelector('.menu');

        burger.addEventListener('click',() =>{
            nav.classList.toggle('nav-active');  
           
        });
    }


    navSlide();


  </script>

</body>
</html>


